header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  .inner-container {
    padding: 38px 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
