<form [formGroup]="form">
  <app-header />
  <img class="forgot-password-image" src="images/log-in-image.jpg" alt="forgot-password">

  <app-overlay-box title="Forgot your password?" [intro]="'We will send you an email with instructions to reset your password.'" buttonText="Send Email" (submit)="submit()">
    <div class="input-field">
      <img class="icon" src="icons/mail.svg" alt="mail">
      <input type="text" placeholder="Email Adresse" formControlName="email">
    </div>
  </app-overlay-box>

  <app-footer />
</form>
