<form [formGroup]="form">
  <app-header />
  <img class="forgot-password-image" src="images/log-in-image.jpg" alt="forgot-password">

  <app-overlay-box title="Forgot your password?" buttonText="Send Email" (submit)="submit()">
    <ng-template #subline>
      <p class="font-white text-center">
        We will send you an email with instructions to reset your password.
      </p>
    </ng-template>

    <div class="input-field">
      <img class="icon" src="icons/mail.svg" alt="mail">
      <input type="text" placeholder="Email Adresse" formControlName="email">
    </div>
  </app-overlay-box>

  <app-footer />
</form>
