.startsite-image {
  height: 100vh;
  width: 100%;
  filter: brightness(45%);
}

.sign-up-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input-field {
    display: flex;
    justify-content: center;
    gap: 16px;

    input {
      width: 21.556%;
    }
  }
}

.sign-up-button {
  display: flex;
  align-items: center;
  gap: 4px;

  &::after {
    content: '';
    display: flex;
    background-image: url('/images/chevron_right.svg');
    width: 24px;
    height: 24px;
  }
}
