<div>
  <app-header>
    <button class="c-pointer" [routerLink]="['/log-in']">Log in</button>
  </app-header>
  <img class="startsite-image" src="images/startsite.jpg" alt="startsite">

  <div class="sign-up-box">
    <h2 class="font-white">Movies, TV shows, and more</h2>
    <p class="font-white m-t-24 m-b-32">Enter your email to create or restart your subscription.</p>
    <div class="input-field">
      <input type="text" placeholder="Email Address">
      <button class="c-pointer" [routerLink]="['/sign-up']">Sign up</button>
    </div>
  </div>

  <app-footer />
</div>
