<div>
  <app-header />
  <img class="login-image" src="images/log-in-image.jpg" alt="log-in">

  <form [formGroup]="form">
    <app-overlay-box title="Log in" buttonText="Log in" [disabledButton]="form.valid" (submit)="submit()">
      <div class="input-field">
        <img class="icon" src="icons/mail.svg" alt="mail">
        <input type="text" placeholder="Email Adresse" formControlName="email">
      </div>

      <div class="input-field">
        <img class="icon" src="icons/password.svg" alt="mail">
        <input type="password" placeholder="Passwort" formControlName="password">
      </div>

      <ng-template #additionalText>
        <div class="font-white text-center">
          <p class="font-bold c-pointer" [routerLink]="['/forgot-password']">Passwort vergessen?</p>
          <p class="m-t-16 c-pointer" [routerLink]="['/sign-up']">Neu bei Videoflix? <span class="font-bold">Jetzt hier registrieren</span></p>
        </div>
      </ng-template>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </app-overlay-box>
  </form>

  <app-footer />
</div>
