<form [formGroup]="form">
  <app-header />
  <img class="reset-password-image" src="images/log-in-image.jpg" alt="reset-password">

  <app-overlay-box title="Reset password" buttonText="Reset my Password" (submit)="submit()">

    <ng-template #subline>
      <p class="font-white text-center">
        Create a new password for your <span class="" style="color: #2E3EDF" [routerLink]="['/sign-up']">Videoflix</span> account.
      </p>
    </ng-template>

    <div class="input-field">
      <img class="icon" src="icons/password.svg" alt="mail">
      <input type="password" placeholder="Passwort" formControlName="password">
    </div>

    <div class="input-field">
      <img class="icon" src="icons/password.svg" alt="mail">
      <input type="password" placeholder="Passwort bestätigen" formControlName="repeated_password">
    </div>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </app-overlay-box>

  <app-footer />
</form>
