footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  .inner-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 40px 0;
  }
}
