<div>
  <app-header>
    <button class="c-pointer" (click)="logOut()">Log Out</button>
  </app-header>

  <ng-container *ngIf="items$ | async as items">
    <div class="hero content-container">
      <div class="content">
        <h2>Breakout</h2>
        <p>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the truth.</p>
        <button>Play</button>
      </div>
    </div>
  </ng-container>

  <app-footer />
</div>
