.content {
    position: absolute;
    top: 15.741%;
    left: 6.667%;
    width: 30.556%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero {
  min-height: 74vh;
}

.videos-container {
  padding-left: 96px;
}

.videos {
  padding-top: 16px;
}

.image {
  width: 16%;
}
