button {
  border-radius: 40px;
  border: none;
  background-color: #2E3EDF;
  color: #FFFFFF;
  padding: 12px 24px;
}

input {
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: transparent;
  color: #FFFFFF;
  padding: 12px 24px;
}

input::placeholder {
  color: #FFFFFF;
}

.font-white {
  color: #FFFFFF;
}

.error-message {
  color: #ff0000;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 2.667rem;
  margin: 0;
}

p {
  margin: 0;
}

// Padding
.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-b-24 {
  margin-bottom: 24px;
}

.m-t-32 {
  margin-top: 32px;
}

.m-b-32 {
  margin-bottom: 32px;
}

.c-pointer {
  cursor: pointer;
}
